
body {
  margin: auto 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Montserrat', sans-serif;
}

main {
  width: 95%;
}

h1 {
  margin: 0 auto;
  justify-content: center;
}

.header {
  background-color: rgb(65, 170, 214);
  color: white;
  height: 200px;
  width: 100%;
  justify-content: center;
  font-size: 60px;
  margin: 0 auto;
  align-content: center;
}

form {
  width: 80%;
  border: 1px solid grey;
  margin: 20px 100px;
}

label {
  display: block;
  border: 2px solid block;
  font-size: 30px;
  height: 80px;
  color: grey;
  margin: 0 auto;
  width: 100%;
  padding-left: 10px;
}

#message {
  display: block;
  border: 2px solid grey;
  font-size: 30px;
  margin-top: 20px;
  color: rgb(247, 244, 244);
  height: 80px;
  margin: 0 auto;
  width: 98.4%;
  padding-left: 10px;
}

.submit-btn {
  display: block;
  border: 1px solid grey;
  width: 100%;
  height: 80px;
 
}

.avatar {
  max-width: 100px;
  max-height: 100px;
  background-color: grey;
  margin-left: 100px;
  margin-right: 50px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.time {
  font-size: 20px;
}

.message {
  font-size: 20px;
  color: grey;
  border: 2px solid grey;
  padding: 15px;
  margin-top: 15px;
  margin-right: 100px;
  width: 80%;
}

.post {
  display: flex;
  margin-top: 50px; 

}